@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');

@font-face {
    font-family: 'Harman Sans';
    src: url('/font/Ahmet_Altun_-_Harman-Sans.otf') format('opentype'),
        url('/font/ahmet_altun_-_harman-sans.woff') format('woff'),
        url('/font/ahmet_altun_-_harman-sans.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Campton';
    src: url('/font/campton/CamptonBlackItalic.otf') format('opentype'),
        url('/font/campton/CamptonBlack.otf') format('opentype'),
        url('/font/campton/CamptonBold.otf') format('opentype');
    font-weight: 900;
    /* Black */
    font-style: italic;
}

@font-face {
    font-family: 'Campton';
    src: url('/font/campton/CamptonBlack.otf') format('opentype');
    font-weight: 900;
    /* Black */
    font-style: normal;
}

@font-face {
    font-family: 'Campton';
    src: url('/font/campton/CamptonBold.otf') format('opentype');
    font-weight: 700;
    /* Bold */
    font-style: normal;
}

@font-face {
    font-family: 'Playwrite';
    src: url('/font/Playwrite_GB_S/static/PlaywriteGBS-ExtraLight.ttf') format('truetype'),
        url('/font/Playwrite_GB_S/static/PlaywriteGBS-ExtraLightItalic.ttf') format('truetype'),
        url('/font/Playwrite_GB_S/static/PlaywriteGBS-Light.ttf') format('truetype'),
        url('/font/Playwrite_GB_S/static/PlaywriteGBS-LightItalic.ttf') format('truetype'),
        url('/font/Playwrite_GB_S/static/PlaywriteGBS-Regular.ttf') format('truetype'),
        url('/font/Playwrite_GB_S/static/PlaywriteGBS-Italic.ttf') format('truetype'),
        url('/font/Playwrite_GB_S/static/PlaywriteGBS-Thin.ttf') format('truetype'),
        url('/font/Playwrite_GB_S/static/PlaywriteGBS-ThinItalic.ttf') format('truetype'),
        url('/font/Playwrite_GB_S/PlaywriteGBS-VariableFont_wght.ttf') format('truetype'),
        url('/font/Playwrite_GB_S/PlaywriteGBS-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 700;
    font-style: normal;
}


body {
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

.stroke {
    -webkit-text-stroke: 2px;
    text-stroke: 2px black;
}



.scroll-bar-hidden {
    overflow-y: scroll;
    /* Allows vertical scrolling */
}

/* For WebKit browsers (Chrome, Safari) */
.scroll-bar-hidden::-webkit-scrollbar {
    display: none;
    /* Hides the scrollbar */
}

/* For Firefox */
.scroll-bar-hidden {
    scrollbar-width: none;
    /* Hides the scrollbar */
}

.embla {
    overflow: hidden;
    width: 100%;
}

.embla__container {
    display: flex;
    transition: transform 0.2s ease;
}

.embla__slide {
    flex: 0 0 100%;
    min-width: 0;
    padding: 1rem;
    box-sizing: border-box;
}

@media (min-width: 640px) {
    .embla__slide {
        flex: 0 0 50%;
    }
}

@media (min-width: 1024px) {
    .embla__slide {
        flex: 0 0 33.33%;
    }
}

@keyframes shake {
    0% {
        transform: translate(0);
    }

    25% {
        transform: translate(-4px, 0);
    }

    50% {
        transform: translate(4px, 0);
    }

    75% {
        transform: translate(-2px, 0);
    }

    100% {
        transform: translate(0);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(15deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(-15deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.bee-shake {
    animation: shake 0.5s ease-in-out infinite, rotate 1s ease-in-out infinite;
}

.hexagon {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #f59e0b;
    /* Tailwind amber-500 */
    clip-path: polygon(25% 6.7%,
            75% 6.7%,
            100% 50%,
            75% 93.3%,
            25% 93.3%,
            0% 50%);
}

.glass-card {
    background: rgba(240, 168, 45, 0.3);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    border-radius: 10px;
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }

    /* Adjust based on the total width of your content */
}

.animate-marquee {
    animation: marquee 15s linear infinite;
    white-space: nowrap;
}


.user-select-none {
    user-select: none;
    /* Prevent text selection */
}


.hide-scrollbar {
    overflow: -moz-scrollbars-none; /* For Firefox */
    scrollbar-width: none; /* For Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
}
